port: 4111
server_name: acc13
jetstream {
    store_dir="/store_leaf"
    domain=acc13
}
leafnodes {
    remotes = [
        {
            urls: ["nats-leaf://admin13:admin@main-nats:7422"]
            account: "SYS"
        },
        {
            urls: ["nats-leaf://acc13:acc@main-nats:7422"]
            account: "acc13"
        }
    ]
}
include ../common-config/accounts.conf
