port: 4111
server_name: acc9
jetstream {
    store_dir="/store_leaf"
    domain=acc9
}
leafnodes {
    remotes = [
        {
            urls: ["nats-leaf://admin9:admin@main-nats:7422"]
            account: "SYS"
        },
        {
            urls: ["nats-leaf://acc9:acc@main-nats:7422"]
            account: "acc9"
        }
    ]
}
include ../common-config/accounts.conf
