port: 4111
server_name: acc15
jetstream {
    store_dir="/store_leaf"
    domain=acc15
}
leafnodes {
    remotes = [
        {
            urls: ["nats-leaf://admin15:admin@main-nats:7422"]
            account: "SYS"
        },
        {
            urls: ["nats-leaf://acc15:acc@main-nats:7422"]
            account: "acc15"
        }
    ]
}
include ../common-config/accounts.conf
