port: 4111
server_name: acc8
jetstream {
    store_dir="/store_leaf"
    domain=acc8
}
leafnodes {
    remotes = [
        {
            urls: ["nats-leaf://admin8:admin@main-nats:7422"]
            account: "SYS"
        },
        {
            urls: ["nats-leaf://acc8:acc@main-nats:7422"]
            account: "acc8"
        }
    ]
}
include ../common-config/accounts.conf
