port: 4111
server_name: acc17
jetstream {
    store_dir="/store_leaf"
    domain=acc17
}
leafnodes {
    remotes = [
        {
            urls: ["nats-leaf://admin17:admin@main-nats:7422"]
            account: "SYS"
        },
        {
            urls: ["nats-leaf://acc17:acc@main-nats:7422"]
            account: "acc17"
        }
    ]
}
include ../common-config/accounts.conf
