port: 4111
server_name: acc1
jetstream {
    store_dir="/store_leaf"
    domain=acc1
}
leafnodes {
    remotes = [
        {
            urls: ["nats-leaf://admin1:admin@main-nats:7422"]
            account: "SYS"
        },
        {
            urls: ["nats-leaf://acc1:acc@main-nats:7422"]
            account: "acc1"
        }
    ]
}
include ../common-config/accounts.conf
