port: 4111
server_name: acc2
jetstream {
    store_dir="/store_leaf"
    domain=acc2
}
leafnodes {
    remotes = [
        {
            urls: ["nats-leaf://admin2:admin@main-nats:7422"]
            account: "SYS"
        },
        {
            urls: ["nats-leaf://acc2:acc@main-nats:7422"]
            account: "acc2"
        }
    ]
}
include ../common-config/accounts.conf
