port: 4111
server_name: acc14
jetstream {
    store_dir="/store_leaf"
    domain=acc14
}
leafnodes {
    remotes = [
        {
            urls: ["nats-leaf://admin14:admin@main-nats:7422"]
            account: "SYS"
        },
        {
            urls: ["nats-leaf://acc14:acc@main-nats:7422"]
            account: "acc14"
        }
    ]
}
include ../common-config/accounts.conf
