port: 4111
server_name: acc11
jetstream {
    store_dir="/store_leaf"
    domain=acc11
}
leafnodes {
    remotes = [
        {
            urls: ["nats-leaf://admin11:admin@main-nats:7422"]
            account: "SYS"
        },
        {
            urls: ["nats-leaf://acc11:acc@main-nats:7422"]
            account: "acc11"
        }
    ]
}
include ../common-config/accounts.conf
