port: 4111
server_name: acc16
jetstream {
    store_dir="/store_leaf"
    domain=acc16
}
leafnodes {
    remotes = [
        {
            urls: ["nats-leaf://admin16:admin@main-nats:7422"]
            account: "SYS"
        },
        {
            urls: ["nats-leaf://acc16:acc@main-nats:7422"]
            account: "acc16"
        }
    ]
}
include ../common-config/accounts.conf
